<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension
            point="com.polarion.portal.tomcat.webapps">
        <webapp
                name="polarion/test-data"
                contextRoot="webapp/test-data">
        </webapp>
    </extension>

    <extension
            point="com.polarion.portal.tomcat.webapps">
        <webapp
                name="polarion/test-data-admin"
                contextRoot="webapp/test-data-admin">
        </webapp>
    </extension>
</plugin>
